* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fade-in {
  opacity: 0;
}

.slide-in {
  position: relative;
  left: -100%;
}

.modalTitleCustom{
  background-color: rgb(37, 102, 200);
  color: rgb(255, 255, 255);
}

@font-face {
  font-family: Carnales;
  src: url(../fonts/Rumble\ Brave.otf);
}

/************************** FUENTES *******************************/

@font-face {
    font-family: 'MontserratExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
        url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratMedium';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  min-height: 100vh;
  width: 100%;
}

.logoInicio {
  height: 35px !important;
}

.title-nav {
  font-family: Carnales !important;
  font-size: 23px;
}

.p-custom {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}

.img-custom {
  height: 500px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.548);
  transition: 0.3s ease-in-out;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 15px black;
  }
}

.marca-custom {
  height: 125px;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: translateY(-3px);
  }
}

@keyframes textShadowTitle {
  0% {
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.35);
  }

  25% {
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.35),
      5px 5px 15px rgba(255, 255, 255, 0.35);
  }

  50% {
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.35),
      5px 5px 25px rgba(255, 255, 255, 0.35);
  }

  75% {
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.35),
      5px 5px 15px rgba(255, 255, 255, 0.35);
  }

  100% {
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.35);
  }
}

.fondoprincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px black;

  .fondo_texto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
    background-color: black;
    height: 92vh;

    .principal_title {
      position: absolute;
      top: 30vh;
      font-family: Carnales;
      font-size: 90px;
      color: white;
      z-index: 1000;
      animation: 5s textShadowTitle linear infinite;
      letter-spacing: 3px;
      transition: 0.3s ease-in-out;
      text-align: center;
    }

    h2 {
      position: absolute;
      top: 46vh;
      font-family: Carnales;
      font-size: 43px;
      color: rgba(37, 140, 203, 1);
      z-index: 1000;
      letter-spacing: 1px;
      transition: 0.3s ease-in-out;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      backdrop-filter: blur(4px);
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .conteiner_imgprincipal {
    position: relative;
    width: 40%;
    height: 92vh;

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .icon_right {
      position: absolute;
      top: 40vh;
      right: 0;
      font-size: 60px;
      color: rgb(37, 140, 203);
      transition: 0.3s ease-in-out;

      &:hover {
        color: rgb(255, 255, 255);
      }
    }

    .icon_left {
      position: absolute;
      top: 40vh;
      left: 0;
      font-size: 60px;
      color: rgb(37, 140, 203);
      transition: 0.3s ease-in-out;

      &:hover {
        color: rgb(255, 255, 255);
      }
    }
  }
}

.title1 {
  color: #000000;
}

.title2 {
  color: rgb(17, 64, 134);
}

.firstText {
  color: rgb(0, 0, 0) !important;
}

.textIdentificador {
  color: rgb(7, 29, 61) !important;
}

.contadorLugar {
  color: rgb(0, 0, 0);
}

.contadorNum {
  color: rgb(0, 0, 0);
}

.btnCotizacion {
  height: 50px !important;
  width: 70% !important;
  border-radius: 10px !important;
  background-color: rgb(37, 102, 200);
  border: none;
  color: #ffffff !important;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: rgb(37, 102, 200);
    transition: 0.3s ease-in-out;
    box-shadow: 3px 3px 5px rgba(37, 102, 200, 0.5);
  }
}

.imgBox {
  box-shadow: 3px 3px 10px rgb(7, 29, 61) !important;
}

.itemListCustom {
  color: white !important;
}

.btnCustomContact {
  background-color: rgb(17, 64, 134);
  color: white !important ;
  transition: 0.3s ease-in-out !important;
  &:hover {
    background-color: rgb(37, 102, 200);
    transition: 0.3s ease-in-out;
    box-shadow: 3px 3px 10px rgb(37, 102, 200);
  }
}

.porque {
  background-color: red !important;
}

.containerCards {
  margin-top: 75px !important;
  position: relative;
  width: 100% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
}

.containerCard {
  position: relative;
  height: 260px !important;
  width: 350px !important;
  border: 1px solid #ffffff;
  padding: 5px 10px !important;
  background-color: white !important;
  box-shadow: 7px 7px 10px rgba(7, 29, 61, 0.1),
    -2px -2px 10px rgb(7, 29, 61, 0.1);
  transition: 0.3s ease-in-out;
}

.containerCard:hover {
  border: 1px solid #ffffff;
  box-shadow: 7px 7px 10px rgba(7, 29, 61, 0.2),
    -2px -2px 10px rgb(7, 29, 61, 0.2);
  transition: 0.3s ease-in-out;
}

.containerCard2 {
  position: relative;
  height: 485px !important;
  width: 335px !important;
  border: 1px solid #ffffff;
  padding: 5px 10px !important;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 7px 7px 10px rgba(37, 102, 200, 0.05),
    -2px -2px 10px rgba(37, 102, 200, 0.05);
  transition: 0.3s ease-in-out;
  &:hover {
    border: 1px solid #ffffff;
    box-shadow: 10px 10px 15px rgba(32, 107, 220, 0.1),
      -10px -10px 15px rgba(32, 107, 220, 0.1) !important;
    transition: 0.3s ease-in-out;
  }
}

.conocerMas {
  position: absolute;
  left: 0 !important;
  bottom: 0 !important;
  width: 100%;
  margin-top: 40px !important;
  background-color: rgba(237, 237, 237, 0.5);
  border: 1px solid rgba(37, 102, 200, 0.05);
  text-decoration: none !important;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: rgba(237, 237, 237, 0.802);
    transition: 0.3s ease-in-out;
  }
}

.conocerMasText {
  font-size: 1.1rem !important;
  letter-spacing: 1px !important;
  text-decoration: none !important;
}

.conocerMasTextLink {
  text-decoration: none !important;
  color: black !important;
}

.textIdentificador {
  font-size: 0.9rem;
}

.imgCard {
  position: absolute;
  margin-top: -42px;
  margin-left: -37px;
  height: 75px;
  width: 75px;
}

.imgCard2 {
  position: absolute;
  margin-top: -42px;
  margin-left: 0px;
  height: 75px;
  width: 75px;
}

.scenes {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  gap: 40px;

  .scene {
    position: relative;
    height: 50%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    .nosotros {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 100;
      gap: 15px;

      .quienes_somos {
        font-size: 40px;
        font-weight: 600;
        font-family: Carnales;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        letter-spacing: 1px;

        .anexo {
          color: rgba(37, 140, 203, 1);
          text-transform: uppercase;
        }
      }

      .somos {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 30px;
      }
    }
  }
}

.servicios {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 100%;

  .title-section {
    font-family: Carnales !important;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 1px;
    letter-spacing: 1px;
  }

  .num_categorias {
    display: none;
    visibility: hidden;
  }

  .categoria_servicios {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;

    .servicio {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid rgba(37, 140, 203, 0.75);
      border-radius: 15px;
      height: 400px;
      width: 300px;
      overflow: hidden;
      margin-top: 20px;
      transition: 0.3s;

      img {
        position: absolute;
        top: 0;
        height: 86%;
        width: 100%;
        object-fit: cover;
        transition: 0.3s;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        height: 14%;
        width: 100%;
        font-family: "Montserrat";
        font-size: 17px;
        font-weight: 400;
        text-align: center;
        background: rgb(2, 0, 36);
        background: linear-gradient(
          90deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(9, 9, 121, 1) 35%,
          rgba(0, 212, 255, 1) 100%
        );
        color: rgb(255, 255, 255);
        transition: 0.3s;
      }

      &:hover {
        transition: 0.3s;
        border: 1px solid rgba(64, 65, 152, 0.6);
        box-shadow: 3px 3px 10px black, -3px -3px 10px black;

        img {
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        span {
          display: none;
          transition: 0.3s;
        }
      }
    }
  }

  .categoria_servicios2 {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;

    .servicio2 {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid rgba(37, 140, 203, 0.75);
      border-radius: 15px;
      height: 400px;
      width: 300px;
      overflow: hidden;
      margin-top: 20px;
      transition: 0.3s;

      img {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 0.3s;
      }

      &:hover {
        transition: 0.3s;
        border: 1px solid rgba(64, 65, 152, 0.6);
        box-shadow: 3px 3px 10px black, -3px -3px 10px black;

        img {
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.cursosContainer {
    display: flex;
}

#curso1{
    background-color: rgb(255, 255, 255) !important;
}

#curso2{
    background-color:rgb(248,249,250) !important;
}
  
.videoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;
  padding: 10px 15px; // Ajusta el padding según tus necesidades
}

.cursoVideo{
  height: 315px !important;
  width: 560px !important;
}

.infoCursoContainer {
  width: 50%;
  box-sizing: border-box;
  padding: 10px; // Ajusta el padding según tus necesidades
}


@media screen and (max-width: 992px){
  .cursosContainer {
    justify-content: center;
    align-items: center;
  }

  #curso1, #curso3{
    flex-direction: column-reverse;
    padding: 0px;
  }

  #curso2{
    flex-direction: column;
  }

  .videoContainer{
    width: 100%;
  }
  
  .infoCursoContainer {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px){
  #curso3{
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px){
  #curso3{
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 480px){
  .carouselContainer{
    flex-direction: column-reverse;
    .carouselText{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      .title1{
        font-style: italic;
      }
      .title2{
        font-size: 2.25em !important;
        margin-bottom: 15px;
      }
    }
    .carouselImages{
      margin-bottom: 20px;
    }
  }

  #negocio, #hogares, #empresas{
    font-size: 4em !important;
    color: rgb(17, 64, 134);
  }

  #curso3{
    margin-bottom: 150px;
  }

  #cbutton1, #cbutton2, #cbutton3{
    margin-left: 0px !important;
  }

  .btnCotizacionContainer{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important;
    width: 100%;
    .btnCotizacion {
      position: relative;
      height: 50px !important;
      width: 100% !important;
      padding: 0px !important;
      border-radius: 10px !important;
      background-color: rgb(37, 102, 200);
      box-shadow: 3px 3px 10px rgb(37, 102, 200);
      border: none;
      color: #ffffff !important;
      transition: 0.3s ease-in-out;
    }
  }

  #elegirCursos{
    margin-top: 15px;
  }

  .infoCursoContainer {
    padding: 30px 25px !important;
    .title2{
      font-size: 1.75em !important;
    }
  }

  .videoContainer{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: -50px !important;
  }
}

/******** FOOTER **********/

.containerFooter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 310px;
    background-color: rgb(17, 64, 134);
    box-shadow: 5px 5px 15px #2b3a463a, -5px -5px 15px #2b3a463a;

    .column1 {
        position: relative;
        width: 350px;
        height: 250px;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;

        img {
            height: 65px;
            transition: .3s ease-in-out;

            &:hover {
                transform: translateY(-3px);
                transition: .3s ease-in-out;
                filter: drop-shadow(3px 3px 5px rgba(255, 255, 255, 0.2));
            }
        }

        .containerTextColumn1 {
            padding: 0px 25px;

            p {
                margin-top: 10px;
                font-family: 'MontserratRegular' !important;
                color: white;
                font-size: .75em;
            }
        }
    }

    .column2 {
        position: relative;
        width: 200px;
        height: 250px;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;

        div {
            p {
                font-family: 'MontserratBold' !important;
                color: white;
                font-size: .85em;
            }

            .textColumn2 {
                margin-top: -15px;

                a {
                    text-decoration: none !important;

                    span {
                        font-family: 'MontserratRegular' !important;
                        color: white;
                        font-size: .7em;
                        transition: .3s ease-in-out;

                        &:hover {
                            color: yellow;
                            transition: .3s ease-in-out;
                        }
                    }
                }

            }

        }
    }

    .column3 {
        position: relative;
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;

        div {
            p {
                font-family: 'MontserratBold' !important;
                color: white;
                font-size: .85em;
            }

            .textColumn3 {
                margin-top: -15px;

                a {
                    text-decoration: none !important;

                    span {
                        font-family: 'MontserratRegular' !important;
                        color: white;
                        font-size: .7em;
                        transition: .3s ease-in-out;

                        &:hover {
                            color: yellow;
                            transition: .3s ease-in-out;
                        }
                    }
                }

            }

        }
    }

    .column4 {
        position: relative;
        width: 200px;
        height: 250px;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;

        div {
            p {
                font-family: 'MontserratBold' !important;
                color: white;
                font-size: .85em;
            }

            div {
                margin-top: -15px !important;

                span {
                    font-family: 'MontserratRegular' !important;
                    color: white;
                    font-size: .7em;
                    transition: .3s ease-in-out;
                }
            }
        }

        .containerImgApp {
            margin-top: 30px !important;

            img {
                height: 100px;
            }
        }

        .containerRedes {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;
            margin-top: 50px;

            img {
                height: 25px;
                transition: .3s ease-in-out;

                &:hover {
                    transform: translateY(-3px);
                    transition: .3s ease-in-out;
                    filter: drop-shadow(3px 3px 5px rgba(255, 255, 255, 0.2));
                }
            }
        }
    }
}

@media (max-width:1050px) {
    .containerFooter {
        height: 600px;

        .column2 {
            margin-top: 20px;
        }
    }
}

@media (max-width:600px) {
    .containerFooter {
        margin-top: -100px;
        height: 800px;

        .column1 {
            margin-top: 30px;
        }

        .column2 {
            margin-top: -10px;
            width: 200px;
        }

        .column3 {
            margin-top: -30px;
            width: 200px;
        }

        .column4 {
            margin-top: -30px;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width:480px) {
    .containerFooter {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px;
        width: 100%;
        height: 800px;
        background-color: rgb(17, 64, 134);
        box-shadow: 5px 5px 15px #2b3a463a, -5px -5px 15px #2b3a463a;

        .column1 {
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            margin-top: -25px;

            img {
                margin-left: 20px;
                height: 85px;
                transition: .3s ease-in-out;

                &:hover {
                    transform: translateY(-3px);
                    transition: .3s ease-in-out;
                    filter: drop-shadow(3px 3px 5px rgba(255, 255, 255, 0.2));
                }
            }

            .containerTextColumn1 {
                padding: 0px 25px;

                p {
                    margin-top: 20px;
                    font-family: 'MontserratRegular' !important;
                    color: white;
                    font-size: .8em;
                }
            }
        }

        .column2 {
            margin-top: -90px;
            position: relative;
            width: 45%;
            height: 225px;
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;

            div {
                p {
                    font-family: 'MontserratBold' !important;
                    color: white;
                    font-size: .85em;
                }

                .textColumn2 {
                    margin-top: -15px;

                    span {
                        font-family: 'MontserratRegular' !important;
                        color: white;
                        font-size: .75em;
                        transition: .3s ease-in-out;

                        &:hover {
                            color: var(--acilSecundario);
                            transition: .3s ease-in-out;
                        }
                    }
                }
            }
        }

        .column3 {
            position: relative;
            width: 45%;
            height: 225px;
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            margin-top: -90px;

            div {
                p {
                    font-family: 'MontserratBold' !important;
                    color: white;
                    font-size: .85em;
                }

                .textColumn3 {
                    margin-top: -15px;

                    span {
                        font-family: 'MontserratRegular' !important;
                        color: white;
                        font-size: .75em;
                        transition: .3s ease-in-out;

                        &:hover {
                            color: var(--acilSecundario);
                            transition: .3s ease-in-out;
                        }
                    }
                }
            }
        }

        .column4 {
            position: relative;
            width: 100%;
            height: auto;
            margin-top: -120px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            div {
                text-align: start;

                p {

                    font-family: 'MontserratBold' !important;
                    color: white;
                    font-size: .85em;
                }

                div {
                    margin-top: -15px !important;

                    span {
                        font-family: 'MontserratRegular' !important;
                        color: white;
                        font-size: .75em;
                        transition: .3s ease-in-out;

                        &:hover {
                            color: var(--acilSecundario);
                            transition: .3s ease-in-out;
                        }
                    }
                }
            }

            .containerImgApp {
                margin-top: 10px;
                margin-left: -15px;

                img {
                    height: 125px;
                }
            }

            .containerRedes {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                margin-top: 25px;

                img {
                    height: 30px;
                    transition: .3s ease-in-out;

                    &:hover {
                        transform: translateY(-3px);
                        transition: .3s ease-in-out;
                        filter: drop-shadow(3px 3px 5px rgba(255, 255, 255, 0.2));
                    }
                }
            }
        }
    }
}

/*************************************/

@media screen and (max-width: 960px) {
  .fondoprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .fondo_texto {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100vw;
      background-color: black;
      height: 300px;
      z-index: 1000;

      .multiservicios {
        position: absolute;
        top: 20vh;
        font-weight: 300;
        font-size: 10px;
        color: white;
        z-index: 1000;
        letter-spacing: 1px;
        text-shadow: 5px 5px 10px white;
      }

      .principal_title {
        position: absolute;
        top: 20vh;
        font-size: 28px;
        color: white;
        z-index: 1000;
        animation: 5s textShadowTitle linear infinite;
        letter-spacing: 3px;
        transition: 0.3s ease-in-out;
      }

      h2 {
        position: absolute;
        top: 35vh;
        font-size: 30px;
        color: rgba(37, 140, 203, 1);
        z-index: 1000;
        letter-spacing: 1px;
        transition: 0.3s ease-in-out;
      }

      img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.8);
      }
    }

    .conteiner_imgprincipal {
      position: relative;
      width: 100%;
      height: 375px;
      z-index: 1000;

      img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .icon_right {
        position: absolute;
        top: 150px;
        right: 0;
        font-size: 60px;
        transition: 0.3s ease-in-out;
      }

      .icon_left {
        position: absolute;
        top: 150px;
        left: 0;
        font-size: 60px;
        transition: 0.3s ease-in-out;
      }
    }
  }

  .scenes {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    gap: 90px;

    .scene {
      position: relative;
      height: 50%;
      width: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 50px;

      .nosotros {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 100;

        .quienes_somos {
          font-size: 24px;
          font-weight: 600;
          font-family: Carnales;
          color: rgb(0, 0, 0);
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        .somos {
          font-family: "Montserrat", sans-serif;
          text-align: center;
          font-size: 16px;
          font-weight: 300;
          margin-top: 15px;
          letter-spacing: 1px;
          line-height: 30px;
        }

        .imagenesgif {
          display: flex;
          justify-content: center;
          align-items: center;

          .logo_img {
            margin-top: 40px;
            height: 250px;
            transition: 0.3s ease-in-out;

            &:hover {
              transform: translateY(-3px);
            }
          }

          .gif {
            margin-top: 25px;
            height: 250px;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }

  .servicios {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100%;

    .title-section {
      font-family: Carnales !important;
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 1px;
    }

    .categoria_servicios {
      position: relative;
      width: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 20px;

      .servicio {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
        height: 330px;
        width: 280px;
        overflow: hidden;
        margin-top: 20px;
        transition: 0.3s;

        img {
          position: absolute;
          top: 0;
          height: 86%;
          width: 100%;
          object-fit: cover;
          transition: 0.3s;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 0;
          height: 14%;
          width: 100%;
          font-family: "Montserrat";
          font-size: 16px;
          text-align: center;
          transition: 0.3s;
        }

        &:hover {
          transition: 0.3s;
          box-shadow: 3px 3px 10px black, -3px -3px 10px black;

          img {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          span {
            display: none;
            transition: 0.3s;
          }
        }
      }
    }
  }

  .contacto2 {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .contacto_footer {
    position: relative;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 20px rgba(37, 140, 203, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 425px;
    width: 90%;
    z-index: 1000;
    margin-top: 50px;

    .preferencia {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50%;
      height: 100%;
      gap: 5px;
      padding: 25px;
      border-right: 1px solid rgba(255, 255, 255, 0.425);

      .gracias {
        color: rgb(255, 255, 255);
        font-size: 21px;
        font-family: "Bruno Ace", sans-serif;
        font-weight: 600;
        padding-bottom: 1px;
        letter-spacing: 1px;
      }

      span {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        text-align: center;
      }

      .cotiza_ahora2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15px;
        gap: 10px;
        transition: 0.3s ease-in-out;

        a {
          text-decoration: none;

          div {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 50px;
            background: rgb(2, 0, 36);
            background: linear-gradient(
              90deg,
              rgba(2, 0, 36, 1) 0%,
              rgba(9, 9, 121, 1) 35%,
              rgba(0, 212, 255, 1) 100%
            );
            border-radius: 10px;
            text-align: center;
            gap: 10px;
            box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.678);
            transition: 0.3s ease-in-out;

            img {
              height: 30px;
              border-radius: 50%;
            }

            span {
              font-family: "Montserrat", sans-serif;
              font-size: 14px;
              color: rgb(255, 255, 255);
              font-weight: 600;
              letter-spacing: 2px;
            }

            &:hover {
              transition: 0.3s ease-in-out;
              background: rgb(2, 0, 36);
              background: linear-gradient(
                90deg,
                rgba(2, 0, 36, 0.7) 0%,
                rgba(9, 9, 121, 0.7) 35%,
                rgba(0, 212, 255, 0.7) 100%
              );
            }
          }
        }
      }

      .datoscontacto2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        gap: 20px;

        ion-icon {
          font-size: 28px;
          color: rgba(37, 140, 203, 1);
          background-color: transparent;
          padding: 7px;
          border-radius: 50%;
          transition: 0.3s ease-in-out;

          &:hover {
            color: rgba(0, 212, 255, 1);
            transform: translateY(-3px);
          }
        }
      }

      .numeros_telefono {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0;
        margin-top: 0px;

        .datoscontacto2 {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0px;
          margin-top: 0px;

          a {
            text-decoration: none;

            span {
              color: white;
              font-size: 14px;
              font-family: "Montserrat";

              &:hover {
                color: rgba(37, 140, 203, 1);
              }
            }
          }
        }
      }

      .credito {
        color: rgb(255, 255, 255);
        font-size: 13px;
        font-family: "Montserrat";
        margin-top: 10px;
      }
    }

    .ubicacion {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50%;
      height: 100%;
      gap: 20px;
      background-image: url(../images/fondo.png);

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0);
        backdrop-filter: blur(4px);
      }

      iframe {
        border-radius: 20px;
        border: 1px solid white;
        width: 300px;
        height: 325px;
        box-shadow: 5px 5px 15px rgb(255, 255, 255);
        z-index: 1000;
      }

      a {
        list-style-type: none;
        text-decoration: none;
        z-index: 1000;

        span {
          color: rgba(37, 140, 203, 1);
          font-weight: 400;
          font-size: 13px;
          font-family: "Montserrat";
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .fondoprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;

    .fondo_texto {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100vw;
      background-color: black;
      height: 90vh;
      z-index: 0;
      text-align: center;
      box-shadow: 5px 5px 15px black;

      .principal_title {
        position: absolute;
        top: 35vh;
        font-size: 50px;
        font-weight: 600;
        color: white;
        z-index: 1000;
        animation: 5s textShadowTitle linear infinite;
        letter-spacing: 1px;
        transition: 0.3s ease-in-out;
      }

      h2 {
        position: absolute;
        top: 45vh;
        font-size: 29px;
        z-index: 1000;
        letter-spacing: 1px;
        transition: 0.3s ease-in-out;
      }

      img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    .conteiner_imgprincipal {
      position: relative;
      width: 100%;
      height: 600px;
      z-index: 0;

      img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .icon_right {
        position: absolute;
        top: 250px;
        right: 0;
        font-size: 60px;
        color: rgb(255, 255, 255);
        transition: 0.3s ease-in-out;
      }

      .icon_left {
        position: absolute;
        top: 250px;
        left: 0;
        font-size: 60px;
        color: rgb(255, 255, 255);
        transition: 0.3s ease-in-out;
      }
    }
  }

  .scenes {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    gap: 40px;

    .scene {
      position: relative;
      height: 50%;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;

      .nosotros {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 100;

        .quienes_somos {
          font-size: 35px;
          font-weight: 600;
          color: rgb(0, 0, 0);
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        .somos {
          font-family: "Montserrat", sans-serif;
          text-align: center;
          font-size: 16px;
          font-weight: 300;
          margin-top: 15px;
          letter-spacing: 1px;
          line-height: 30px;
        }

        .imagenesgif {
          display: flex;
          justify-content: center;
          align-items: center;

          .logo_img {
            margin-top: 60px;
            margin-bottom: 0px;
            height: 200px;
            transition: 0.3s ease-in-out;

            &:hover {
              transform: translateY(-3px);
            }
          }

          .gif {
            margin-top: 40px;
            height: 250px;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }

  .servicios {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100%;

    .title-section {
      font-family: Carnales !important;
      font-size: 38px;
      font-weight: 600;
      padding-bottom: 1px;
    }

    .categoria_servicios {
      position: relative;
      width: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 20px;

      .servicio {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
        height: 400px;
        width: 90vw;
        overflow: hidden;
        margin-top: 20px;
        transition: 0.3s;

        img {
          position: absolute;
          top: 0;
          height: 86%;
          width: 100%;
          object-fit: cover;
          transition: 0.3s;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 0;
          height: 14%;
          width: 100%;
          font-family: "Montserrat";
          font-size: 17px;
          font-weight: 400;
          text-align: center;
          transition: 0.3s;
          letter-spacing: 1px;
        }

        &:hover {
          transition: 0.3s;
          border: 1px solid rgba(64, 65, 152, 1);
          box-shadow: 3px 3px 10px black, -3px -3px 10px black;

          img {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          span {
            display: none;
            transition: 0.3s;
          }
        }
      }
    }
  }

  .contacto2 {
    bottom: 5px;
    z-index: 100;

    .contenedor {
      &.active2 {
        width: 385px;
      }
    }
  }

  .contacto_footer {
    justify-content: center;
    flex-direction: column;
    height: 1050px;
    width: 100%;
    margin-top: 50px;
    gap: 0px;
    z-index: 1000;
    box-shadow: 5px 5px 15px black, -5px -5px 15px black;

    .preferencia {
      flex-direction: column;
      width: 100%;
      margin-top: -30px;
      gap: 10px;

      .gracias {
        font-size: 26px;
      }

      span {
        font-size: 15px;
      }

      .cotiza_ahora2 {
        a {
          div {
            padding: 10px 60px;
          }
        }
      }

      .datoscontacto2 {
        ion-icon {
          font-size: 32px;
        }
      }

      .numeros_telefono {
        .datoscontacto2 {
          a {
            span {
              font-size: 17px;
            }
          }
        }
      }

      .credito {
        font-size: 15px;
      }
    }

    .ubicacion {
      width: 100%;
      margin-right: 0;
      margin-top: -40px;

      iframe {
        width: 95vw;
        height: 500px;
      }

      a {
        span {
          font-size: 12px;
          margin-bottom: 10px;
        }
      }
    }
  }

}
